.Feed {
    padding-top: 2rem;
}

.page-heading {
    text-align: center;
    padding-top: 2rem;
    color: black;
}

.helpCard {
    margin: 1rem 0;
    padding: 1rem;
}

.cardTitle {
    text-align: left;
}