.Feed {
    padding-top: 2rem;
}

.page-heading {
    text-align: center;
    padding-top: 2rem;
    color: black;
}

.helpCard {
    margin: 1rem 0;
    padding-bottom: 0;
}

.userInfo {
    display: flex;
    flex-direction: row;
    align-items: center;
}

.userAvatar {
    margin-right: 0.5rem;
}

.helpCardButtonBase {
    flex-direction: column;
    text-align: left;
}

.cardTitle {
    text-align: left;
}