.ShowHelp {
  
}

.page-heading {
  margin: 0;
  text-align: center;
}

.help-requests-block {
  margin-top: 3rem;
}

.description-block, .skills-required-block {
  margin: 2rem 0;
}

.author-block {
  margin: 2rem 0;
  text-align: right;
}

.userInfo{
  flex-direction: row;
}

.requestCard {
  margin: 1.5rem 0
}
