.page-heading {
  margin: 0;
  text-align: center;
}

.help-requests-block {
  margin-top: 1rem;
}

.description-block, .skills-required-block {
  margin: 1rem 0;
}

.requestCard {
  margin: 1.5rem 0;
  padding: 1rem;
}
